.pagination button{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px dotted red;
    margin: 5px;
}

.pagination button.active{
    background-color: #b91c1c;
    color: white;
}