@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@layer components {
  .header-icon {
    @apply flex flex-col items-center cursor-pointer lg:w-[78px];
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* [type='checkbox']:focus {
  --tw-ring-shadow: transparent;
} */

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus {
  --tw-ring-shadow: transparent !important;
  border-color: currentColor;
}

select:focus {
  --tw-ring-shadow: transparent !important;
  border: 1px solid currentColor;
}

.active {
  color: white;
  background-color: #3333;
}

@keyframes progress {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-progress {
  background-size: 200% 100%;
  animation: progress 2s linear infinite;
}

.imagedetail {
  width: 76px;
  height: 76px;
  border-radius: 6px;
  border: 1px solid white;
  transition-duration: 500ms;
}
.imagedetail:hover {
  border: 1px solid red;
  scale: 1.1;
  transform: scale(1.1);
}

.discount {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  padding-inline: 4px;
  background-color: #e25757;
  color: azure;
}
.button-buy:hover {
  border: 2px solid #d32f2f;
  background-color: white;
  color: #d32f2f;
  transition-duration: 200ms;
}
.button-buy:active {
  background-color: #d32f2f;
  color: white;
}

.bg-lucky {
  background-image: url('https://cdn.vectorstock.com/i/preview-1x/13/60/wheel-fortune-spinning-lucky-vector-37561360.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* css arrow */

.ce-my-message-bubble {
  background-color: #7a39e0 !important;
}

.ce-chat-title-text {
  color: #7a39e0 !important;
}

.ce-chat-subtitle-text {
  color: #7a39e0 !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #7a39e0 !important;
}

.ce-my-message-timestamp {
  color: #7a39e0 !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
