@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@layer components {
    .header-icon {
        @apply flex flex-col items-center cursor-pointer lg:w-[78px];
    }
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.active {
    color: white;
    background-color: #3333;
}

@keyframes progress {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.animate-progress {
    background-size: 200% 100%;
    animation: progress 2s linear infinite;
}

.imagedetail {
    width: 76px;
    height: 76px;
    border-radius: 6px;
    border: 1px solid white;
    transition-duration: 500ms;
}
.imagedetail:hover {
    border: 1px solid red;
    scale: 1.1;
    transform: scale(1.1);
}

.discount {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    padding-inline: 4px;
    background-color: #e25757;
    color: azure;
}
.button-buy:hover {
    border: 2px solid #d32f2f;
    background-color: white;
    color: #d32f2f;
    transition-duration: 200ms;
}
.button-buy:active {
    background-color: #d32f2f;
    color: white;
}
